@font-face
  font-family: Roboto, sans-serif

$mainFontColor: #B51D0A
$mainBGColor: #EAD39C
$buttonBGColor: #EAD39C

.create-form
  padding: 30px 0 30px

//#7D5E3C

body
  font-family: Roboto,sans-serif
  background-color: $mainBGColor
  margin: 0
  padding: 0

.main_header
  text-align: center
  //margin-bottom: 30px
  display: flex
  justify-content: space-around
  align-items: center
  color: $mainFontColor
  border-bottom: 5px dotted $mainFontColor
  background-color: $mainBGColor
  padding: 30px 0 30px
  margin-top: 20px
  border-radius: 10px 10px 0 0

.main_header a
  display: inline-block
  background-color: $buttonBGColor
  //width: 200px

.idea-item
  display: block
  margin: 30px

.auth-form
  margin: 0 auto
  text-align: center
  border-radius: 0 0 10px 10px

.auth-form-label
  display: block
  margin: 10px

.auth-form p
  color: $mainFontColor
  font-size: 1.5rem

.auth-form a
  background-color: $mainBGColor

.auth-form-label span
  display: inline-block
  width: 60px
  color: $mainFontColor
  margin-right: 40px
  font-size: 1.5rem

.auth-form-label input
  background-color: $buttonBGColor
  padding: 10px
  font-size: 1.5rem
  border: 1px solid $mainFontColor
  outline: none
  height: 30px
  border-radius: 10px

.auth-submit-button
  border: 1px solid $mainFontColor
  border-radius: 10px
  outline: none
  background-color: $buttonBGColor
  font-size: 1.5rem
  color: $mainFontColor

.reg-form-wrapper
  margin: 0
  padding: 0

.reg_form
  margin: 0 auto
  text-align: center
  background-color: $mainBGColor
  padding-top: 10px
  border-radius: 0 0 10px 10px

.reg_form label
  display: block
  margin: 10px 40px

.reg_form label span
  display: inline-block
  width: 80px
  color: $mainFontColor
  margin-right: 40px
  font-size: 1.5rem

.reg_form label input
  background-color: $buttonBGColor
  padding: 10px
  font-size: 1.5rem
  border: 1px solid $mainFontColor
  outline: none
  height: 30px
  border-radius: 10px
  display: block
  margin: 0 auto

.reg_form button
  border: 1px solid $mainFontColor
  border-radius: 10px
  outline: none
  background-color: $buttonBGColor
  font-size: 1.5rem
  color: $mainFontColor
  margin-top: 20px
  height: 70px
  margin-bottom: 20px

a
  display: inline-block
  //width: 150px
  padding: 10px
  text-align: center
  font-size: 1.5rem
  text-decoration: none
  color: $mainFontColor
  border: 1px solid $mainFontColor
  border-radius: 10px
  margin-left: 20px

.settings-button
  width: 150px
  font-size: 1.5rem
  color: $mainFontColor
  background-color: $buttonBGColor
  border: 1px solid $mainFontColor
  border-radius: 10px
  //margin-left: 30px

.add-idea-button
  width: 150px
  font-size: 1.5rem
  color: $mainFontColor
  background-color: #ffffff
  border: 1px solid $mainFontColor
  border-radius: 10px
  margin-left: 130px

.create-form
  padding: 30px 0 30px

.create-idea-form label
  display: block
  margin-bottom: 20px
  color: $mainFontColor

.create-idea-form span
  display: inline-block
  width: 150px

.create-idea-form button
  padding: 10px
  text-align: center
  font-size: 1.5rem
  text-decoration: none
  color: $mainFontColor
  border: 1px solid $mainFontColor
  background-color: $buttonBGColor
  border-radius: 10px
  margin-left: 20px

.delete-idea-button
  padding: 10px
  text-align: center
  font-size: 1.5rem
  text-decoration: none
  color: $mainFontColor
  border: 1px solid $mainFontColor
  background-color: $buttonBGColor
  border-radius: 10px
  margin: 10px

//Delete idea block

.idea-box
  margin: 30px
  position: relative

.prove-delete-idea
  width: 80%
  position: absolute
  left: 10%
  top: 20%
  background-color: $mainFontColor
  border-radius: 10px
  padding: 10px

@media screen and (min-width: 761px)

  body
    background-color: #500805
    padding: 0 calc(50% - 450px)
    margin: 0



  main
    background-color: $mainBGColor
    padding: 30px 0 30px
    width: 900px

  .main_header
    width: 900px

//@media screen and (min-width: 900px)
//
//  body
//    background-color: white