@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap')


@font-face
  font-family: Arial, sans-serif

@font-face
  font-family: Montserrat

$mainFontColor: #55828b
$mainBGColor: #f6fff8
$darkBGColor: #364958
$buttonHoverColor: #55828b
$logoFont: 'Baloo Chettan 2'
$basicFont: 'Montserrat'
$deleteBlock: #87bba2

body
  font-family: $basicFont
  background-color: $darkBGColor
  margin: 0
  padding: 0

#root
  display: flex
  justify-content: center

.app
  width: 100%
  max-width: 900px
  padding: 40px 20px
  box-sizing: border-box

.header
  width: 100%
  box-sizing: border-box
  padding: 20px 60px
  display: flex
  justify-content: space-between
  align-items: center
  background-color: $mainBGColor
  border-radius: 5px 5px 0 0
  border-bottom: 1px solid $darkBGColor
  
  &__create-button
    display: block
    font-size: 20px
    color: $darkBGColor
    line-height: 38px
    text-decoration: none
    padding: 0 20px;
    border-radius: 5px
    transition: all 0.2s linear

    &:hover
      color: $mainBGColor
      background-color: $mainFontColor
      transition: all 0.2s linear
      cursor: pointer

.app-title
  font-size: 40px
  line-height: 58px
  color: $mainFontColor
  margin: 0
  font-family: $logoFont

  &__title-accent
    color: $darkBGColor

.main-page
  padding-bottom: 50px
  background-color: $mainBGColor
  border-radius: 0 0 5px 5px

  &__content
    padding: 50px 
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    box-sizing: border-box
    min-height: 300px

.main-page-idea
  position: relative
  top: 0
  background-color: #fff
  border: 1px solid $mainFontColor
  border-radius: 5px
  text-decoration: none
  padding: 40px
  margin-bottom: 40px
  box-sizing: border-box
  width: calc(50% - 20px)
  display: flex
  flex-direction: column
  justify-content: space-between
  transition: all 0.1s linear

  &:hover
    top: -2px
    transition: all 0.1s linear


  &__title
    color: #000
    margin: 0 0 30px
    font-size: 20px
    font-weight: 500

  &__date
    margin: 0
    font-size: 14px
    color: #ababab

.auth-form
  width: 100%
  max-width: 300px
  background-color: $mainBGColor
  border-radius: 5px
  margin: 0 auto
  padding: 40px 40px 60px

  &__title
    margin-bottom: 40px
    text-align: center

  &__field
    display: block
    margin-bottom: 15px
  
  &__label
    display: block
    font-size: 12px
    color: $darkBGColor
    margin-bottom: 5px
    padding-left: 10px

  &__input
    display: block
    font-family: $basicFont, sans-serif
    width: 80%
    border: 1px solid $mainFontColor
    font-size: 14px
    padding: 5px 10px
    border-radius: 5px

  &__auth-button
    display: block
    font-size: 16px
    font-family: $basicFont, sans-serif
    color: $darkBGColor
    text-decoration: none
    padding: 0 20px;
    border-radius: 5px
    transition: all 0.2s linear
    background: none
    border: none
    padding: 5px 10px
    margin: 25px 0 40px 0

    &:hover
      color: $mainBGColor
      background-color: $mainFontColor
      transition: all 0.2s linear
      cursor: pointer
  
  .login-reg-block
    &__note
      margin: 0
      padding-left: 10px
      font-size: 12px



// button
//   padding: 10px
//   text-align: center
//   font-size: 18px
//   text-decoration: none
//   color: $mainFontColor
//   border: none
//   background-color: $mainBGColor
//   border-radius: 10px
//   margin-left: 20px
//   width: fit-content
//   display: inline-block
//   font-weight: 500
//   &:hover
//     background-color: $buttonHoverColor
//     cursor: pointer
//     color: white

// .link-button
//   padding: 10px
//   text-align: center
//   font-size: 18px
//   text-decoration: none
//   color: $mainFontColor
//   border: none
//   background-color: $mainBGColor
//   border-radius: 10px
//   margin-left: 20px
//   width: fit-content
//   display: inline-block
//   font-weight: 500
//   &:hover
//     background-color: $buttonHoverColor
//     cursor: pointer
//     color: white


.create-form
  padding: 30px
  background-color: $mainBGColor
  border-radius: 0 0 10px 10px
  display: flex
  justify-content: center

.create-idea-form
  padding: 30px
  width: 70%

.create-idea-form input
  display: block
  border-radius: 10px
  border: 1px solid $mainFontColor
  width: 100%
  font-size: 16px
  outline: none
  padding: 5px 10px

.create-idea-form textarea
  display: block
  border-radius: 10px
  border: 1px solid $mainFontColor
  width: 100%
  font-size: 16px
  outline: none
  padding: 5px 10px
  height: auto
  font-family: $basicFont

.save-block
  display: flex
  justify-content: space-between

//#7D5E3C

// .main
//   background-color: $mainBGColor
//   border-radius: 0 0 10px 10px
//   width: 100%
//   padding: 30px
//   display: flex
//   flex-wrap: wrap
//   justify-content: space-around
//   box-sizing: border-box
//   min-height: 300px

// .main_header
//   text-align: center
//   display: flex
//   justify-content: space-between
//   align-items: center
//   color: $mainFontColor
//   border-bottom: 1px solid $darkBGColor
//   background-color: $mainBGColor
//   padding: 0 30px
//   margin-top: 20px
//   border-radius: 10px 10px 0 0
//   max-width: 900px
//   min-width: 760px
//   font-size: 20px

// .main_header h1
//   margin: 0

// .header-span
//   color: $darkBGColor
//   font-family: $logoFont

// .main_header a
//   display: inline-block
//   background-color: $mainBGColor
//   //width: 200px

.idea-item
  display: block
  margin-bottom: 30px
  width: 40%
  //height: fit-content
  &:hover
    background-color: $buttonHoverColor
    color: #ffffff

// .auth-form
//   margin: 20px auto
//   text-align: center
//   border-radius: 10px

// .auth-form-label
//   display: block
//   margin: 10px

// .auth-form p
//   color: $mainFontColor
//   font-size: 18px
//   margin: 30px 0 0


// .auth-form a
//   background-color: $mainBGColor
//   margin: 5px 0 0 0
//   border: none
//   &:hover
//     background-color: $buttonHoverColor
//     color: #ffffff

// .auth-form-label
//   display: block

// .auth-form-label span
//   display: block
//   width: 60px
//   color: $mainFontColor
//   margin-right: 40px
//   font-size: 18px

// .auth-form-label input
//   background-color: #ffffff
//   padding: 10px
//   font-size: 18px
//   border: 1px solid $mainFontColor
//   outline: none
//   border-radius: 10px

// .auth-submit-button
//   border-radius: 10px
//   outline: none
//   background-color: $mainBGColor
//   font-size: 18px
//   color: $mainFontColor
//   width: fit-content
//   margin-left: 0

.reg-form-wrapper
  margin: 0
  padding: 0

.reg_form
  margin: 0 auto
  text-align: center
  background-color: $mainBGColor
  padding-top: 10px
  border-radius: 0 0 10px 10px

.reg_form label
  display: block
  margin: 10px 40px


.reg_form label span
  display: inline-block
  width: 80px
  color: $mainFontColor
  font-size: 18px
  margin-top: 20px

.reg_form label input
  background-color: white
  padding: 10px
  font-size: 18px
  border: 1px solid $mainFontColor
  outline: none
  border-radius: 10px
  display: block
  margin: 0 auto
  width: 50%

.reg_form button
  //border: 1px solid $mainFontColor
  border-radius: 10px
  outline: none
  //background-color: $mainBGColor
  font-size: 18px
  color: $mainFontColor
  margin-top: 20px
  margin-left: 0
  padding: 10px 20px
  margin-bottom: 20px
  &:hover
    background-color: $buttonHoverColor
    color: #ffffff
    opacity: 80%
    outline: none

// a
//   display: inline-block
//   //width: 150px
//   padding: 10px
//   text-align: center
//   font-size: 18px
//   text-decoration: none
//   color: $mainFontColor
//   border: 1px solid $mainFontColor
//   border-radius: 10px
//   //margin-left: 20px

.settings-button
  width: 150px
  font-size: 18px
  color: $mainFontColor
  background-color: $mainBGColor
  border: 1px solid $mainFontColor
  border-radius: 10px
  //margin-left: 30px

.add-idea-button
  width: 150px
  font-size: 18px
  color: $mainFontColor
  background-color: #ffffff
  border: 1px solid $mainFontColor
  border-radius: 10px
  margin-left: 130px

.create-idea-form label
  display: block
  margin-bottom: 20px
  color: $mainFontColor

.create-idea-form span
  display: inline-block
  width: 150px

//.create-idea-form button


.delete-idea-button
  padding: 10px
  text-align: center
  font-size: 18px
  text-decoration: none
  color: $mainFontColor
  border: 1px solid $mainFontColor
  background-color: $mainBGColor
  border-radius: 10px
  margin: 10px

.idea-box
  margin: 30px
  position: relative
  display: flex
  justify-content: center
  flex-direction: column
  text-align: center
  font-size: 16px
  color: $mainFontColor

.prove-delete-idea
  width: 300px
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  background-color: $mainFontColor
  border-radius: 10px
  padding: 10px

.delete-block
  margin-top: 50px
  display: flex
  justify-content: space-around

.prove-delete-idea p
  color: white

.create-button
  color: #3b6064
  font-weight: 600
  font-size: 25px

.delete-button
  &:hover
    background-color: #ff0000

.cancel-button
  //font-weight: 500
  &:hover
    background-color: $mainBGColor
    color: $mainFontColor
    opacity: 80%
    outline: none


//@media screen and (min-width: 761px)
//
//  body
//    background-color: #500805
//    padding: 0 calc(50% - 450px)
//    margin: 0
//
//
//
//  main
//    background-color: $mainBGColor
//    padding: 30px
//    //width: 900px
//
//  .main_header
//    width: 900px
