@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@font-face {
  font-family: Arial, sans-serif;
}

@font-face {
  font-family: Montserrat;
}

body {
  font-family: "Montserrat";
  background-color: #364958;
  margin: 0;
  padding: 0;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app {
  width: 100%;
  max-width: 900px;
  padding: 40px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6fff8;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #364958;
}

.header__create-button {
  display: block;
  font-size: 20px;
  color: #364958;
  line-height: 38px;
  text-decoration: none;
  padding: 0 20px;
  border-radius: 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__create-button:hover {
  color: #f6fff8;
  background-color: #55828b;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.app-title {
  font-size: 40px;
  line-height: 58px;
  color: #55828b;
  margin: 0;
  font-family: "Baloo Chettan 2";
}

.app-title__title-accent {
  color: #364958;
}

.main-page {
  padding-bottom: 50px;
  background-color: #f6fff8;
  border-radius: 5px;
}

.main-page__content {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 300px;
}

.main-page-idea {
  position: relative;
  top: 0;
  background-color: #fff;
  border: 1px solid #55828b;
  border-radius: 5px;
  text-decoration: none;
  padding: 40px;
  margin-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-page-idea:hover {
  top: -2px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-page-idea__title {
  color: #000;
  margin: 0 0 30px;
  font-size: 20px;
  font-weight: 500;
}

.main-page-idea__date {
  margin: 0;
  font-size: 14px;
  color: #ababab;
}

.auth-form {
  width: 100%;
  max-width: 300px;
  background-color: #f6fff8;
  border-radius: 5px;
  margin: 0 auto;
  padding: 40px 40px 60px;
}

.auth-form__title {
  margin-bottom: 40px;
  text-align: center;
}

.auth-form__field {
  display: block;
  margin-bottom: 15px;
}

.auth-form__label {
  display: block;
  font-size: 12px;
  color: #364958;
  margin-bottom: 5px;
  padding-left: 10px;
}

.auth-form__input {
  display: block;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  border: 1px solid #55828b;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
}

.auth-form__auth-button {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #364958;
  text-decoration: none;
  padding: 0 20px;
  border-radius: 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: none;
  border: none;
  padding: 5px 10px;
  margin: 25px 0 40px 0;
}

.auth-form__auth-button:hover {
  color: #f6fff8;
  background-color: #55828b;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.auth-form .login-reg-block__note {
  margin: 0;
  padding-left: 10px;
  font-size: 12px;
}

.create-idea-page {
  padding-bottom: 50px;
  background-color: #f6fff8;
  border-radius: 5px;
}

.create-idea-page__content {
  padding: 30px 60px;
}

.create-idea-form {
  width: 80%;
}

.create-idea-form__field {
  display: block;
  margin-bottom: 15px;
}

.create-idea-form__label {
  display: block;
  font-size: 12px;
  color: #364958;
  margin-bottom: 5px;
  padding-left: 10px;
}

.create-idea-form__input {
  display: block;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  border: 1px solid #55828b;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
}

.create-idea-form__textarea {
  display: block;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  border: 1px solid #55828b;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  resize: none;
}

.create-idea-form__controls {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.create-idea-form__save-button, .create-idea-form__back-button {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #364958;
  text-decoration: none;
  padding: 0 20px;
  border-radius: 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: none;
  border: none;
  padding: 5px 10px;
  margin-right: 40px;
}

.create-idea-form__save-button:hover, .create-idea-form__back-button:hover {
  color: #f6fff8;
  background-color: #55828b;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.idea-page {
  position: relative;
  padding-bottom: 50px;
  background-color: #f6fff8;
  border-radius: 5px;
}

.idea-page__content {
  padding: 30px 60px;
}

.idea-content__title {
  margin: 0 0 5px;
  font-size: 26px;
  color: #364958;
  padding-left: 10px;
}

.idea-content__date {
  margin: 0 0 20px;
  font-size: 14px;
  color: #55828b;
  padding-left: 10px;
}

.idea-content__description {
  margin: 0;
  color: #364958;
  padding-left: 10px;
}

.idea-content__controls {
  border-top: 1px solid #364958;
  padding-top: 15px;
  margin-top: 45px;
}

.idea-content__remove-button, .idea-content__back-button {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #364958;
  text-decoration: none;
  padding: 0 20px;
  border-radius: 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: none;
  border: none;
  padding: 5px 10px;
  margin-right: 40px;
}

.idea-content__remove-button:hover, .idea-content__back-button:hover {
  color: #f6fff8;
  background-color: #55828b;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.idea-remove-confirm {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #55828b;
  border-radius: 10px;
  padding: 30px;
}

.idea-remove-confirm__text {
  margin: 0 0 30px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.idea-remove-confirm__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.idea-remove-confirm__ok-button {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: red;
  text-decoration: none;
  padding: 0 20px;
  border-radius: 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #f6fff8;
  border: none;
  padding: 5px 10px;
  margin-right: 20px;
}

.idea-remove-confirm__ok-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.idea-remove-confirm__cancel-button {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #364958;
  text-decoration: none;
  padding: 0 20px;
  border-radius: 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #f6fff8;
  border: none;
  padding: 5px 10px;
}

.idea-remove-confirm__cancel-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */