@font-face {
  font-family: Roboto, sans-serif;
}
.create-form {
  padding: 30px 0 30px;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #EAD39C;
  margin: 0;
  padding: 0;
}

.main_header {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #B51D0A;
  border-bottom: 5px dotted #B51D0A;
  background-color: #EAD39C;
  padding: 30px 0 30px;
  margin-top: 20px;
  border-radius: 10px 10px 0 0;
}

.main_header a {
  display: inline-block;
  background-color: #EAD39C;
}

.idea-item {
  display: block;
  margin: 30px;
}

.auth-form {
  margin: 0 auto;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.auth-form-label {
  display: block;
  margin: 10px;
}

.auth-form-label span {
  display: inline-block;
  width: 60px;
  color: #B51D0A;
  margin-right: 40px;
  font-size: 1.5rem;
}

.auth-form-label input {
  background-color: #EAD39C;
  padding: 10px;
  font-size: 1.5rem;
  border: 1px solid #B51D0A;
  outline: none;
  height: 30px;
  border-radius: 10px;
}

.auth-submit-button {
  border: 1px solid #B51D0A;
  border-radius: 10px;
  outline: none;
  background-color: #EAD39C;
  font-size: 1.5rem;
  color: #B51D0A;
}

.reg-form-wrapper {
  margin: 0;
  padding: 0;
}

.reg_form {
  margin: 0 auto;
  text-align: center;
  background-color: #EAD39C;
  padding-top: 10px;
  border-radius: 0 0 10px 10px;
}

.reg_form label {
  display: block;
  margin: 10px 40px;
}

.reg_form label span {
  display: inline-block;
  width: 80px;
  color: #B51D0A;
  margin-right: 40px;
  font-size: 1.5rem;
}

.reg_form label input {
  background-color: #EAD39C;
  padding: 10px;
  font-size: 1.5rem;
  border: 1px solid #B51D0A;
  outline: none;
  height: 30px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.reg_form button {
  border: 1px solid #B51D0A;
  border-radius: 10px;
  outline: none;
  background-color: #EAD39C;
  font-size: 1.5rem;
  color: #B51D0A;
  margin-top: 20px;
  height: 70px;
  margin-bottom: 20px;
}

a {
  display: inline-block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: #B51D0A;
  border: 1px solid #B51D0A;
  border-radius: 10px;
  margin-left: 20px;
}

.settings-button {
  width: 150px;
  font-size: 1.5rem;
  color: #B51D0A;
  background-color: #EAD39C;
  border: 1px solid #B51D0A;
  border-radius: 10px;
}

.add-idea-button {
  width: 150px;
  font-size: 1.5rem;
  color: #B51D0A;
  background-color: #ffffff;
  border: 1px solid #B51D0A;
  border-radius: 10px;
  margin-left: 130px;
}

.create-form {
  padding: 30px 0 30px;
}

.create-idea-form label {
  display: block;
  margin-bottom: 20px;
  color: #B51D0A;
}

.create-idea-form span {
  display: inline-block;
  width: 150px;
}

.create-idea-form button {
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: #B51D0A;
  border: 1px solid #B51D0A;
  background-color: #EAD39C;
  border-radius: 10px;
  margin-left: 20px;
}

.delete-idea-button {
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: #B51D0A;
  border: 1px solid #B51D0A;
  background-color: #EAD39C;
  border-radius: 10px;
  margin: 10px;
}

.idea-box {
  margin: 30px;
  position: relative;
}

.prove-delete-idea {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 20%;
  background-color: #B51D0A;
  border-radius: 10px;
  padding: 10px;
}

@media screen and (min-width: 761px) {
  body {
    background-color: #500805;
    padding: 0 calc(50% - 450px);
    margin: 0;
  }

  main {
    background-color: #EAD39C;
    padding: 30px 0 30px;
    width: 900px;
  }

  .main_header {
    width: 900px;
  }
}

/*# sourceMappingURL=style.css.map */
